html {
  line-height: 1.4;
  font-size: 1em;
  color: #222;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

body {
  background-color: #f0ebf8;
  font-family: sans-serif;
}

input.short_answer {
  border: black 1px;
  box-shadow: 0 0 1px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  padding: 5px 5px;

}

button {
  border: black 1px;
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%);
}
.contact {
  float: right;
}

div {
  max-width: 700px;
  border-radius: 10px;
  border: black;
  padding: 5px 5px;
  margin: 10px 5px;
}
.question {
  margin-bottom: 10px;
}
.question_with_desc {
  margin-bottom: 5px;
}
.question_description {
  margin-top: 0;
}
.short_answer {
  margin: auto 2px 10px;
}
.form_container {
  background: rgba(255,0,0,0.3);
  margin: 30px auto auto;
}
.description {
  height: auto;
  border-radius: 10px;
  background: white;
  padding: 8px 12px;
}
.question_container {
  background: white;
  border: black;
  padding: 8px 12px;
}
.buttons {
  margin: 5px 5px;
}

label.question {
  font-size: 16pt;
}

label.description {
  font-size: 10pt;
}

img.logo {
  float: left;
  height: 115px;
  width: auto;
  margin: 20px;
}
